.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  margin-bottom: -20px;
  margin-left: 10px; 
  width: 40px;
}

.App-header {
  height: 50px;
  text-align: left;
}

.App-link {
  color: #FF4500;
  font-size: 15px;
  margin-left: 10px;
}


