.App {
  text-align: center;
}

.App-logo {
  height: 20px;
  margin-bottom: -20px; 
  width: 20px;
}

.App-header {
  height: 50px;
  text-align: left;
}

.App-link {
  color: #61dafb;
  font-size: 15px;
  margin-left: 10px;
}


